@inherits LayoutComponentBase;
<div class="main" >
    <div class="top-row px-4" style="box-shadow: rgba(0,0,0,0.2) 1px 1px; background: rgba(0,0,250,0.01)">
        <div class="row"></div>
        <h1 class="col-8" style="text-transform:uppercase; font-weight:lighter; letter-spacing:6px; font-family:'Open Sans'">This is a sample project</h1> 
        <a href="/"><span class="oi oi-home" aria-hidden="true">&nbsp</span>Home</a>
    </div>

    <div class="col-12" style="padding: 0 18px!important; width:100vw">@Body</div>
</div>
@code {

}
