@page "/"
<div style="font-family:'Open Sans'">

    <h1>A sample project for REX</h1>
    <div>
        <div>
            In this project you can dynamically change the HTML file. For start, place your HTML in the right TextArea. You can change a parameter by adding the parameter in the left panel. You can preview the result at the bottom of the page. By clicking submit button, the page is navigated to the HTML file that is generated.

        </div>
        <div>
            For example: there exists "This is <b>Name</b>" in the TextArea. By Adding "Name" as the “Variable” and <b>Javad</b> as the “Value”, the HTML will be changed to “This is <b>Javad</b>”
        </div>
    </div>
    <br />
    <div>
        <h5>Click on <a href="/HtmlChange">"HTML CHANGE"</a> to start </h5>
    </div>
    <br />
    <div style="display: flex; justify-content: center;">
        <img src="/Assets/REX.gif" asp-append-version="true" width="80%">

    </div>


</div>